{% extends 'home/base.html' %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card border-light mb-3">
                    <div class="card-header bg-dark text-white">
                        Профиль Клиента
                    </div>
                    <div class="card-body bg-dark text-white">
                        {{ form.as_p }}
                    </div>
                    <div class="card-footer bg-dark text-white text-center">
                        <button type="submit" class="btn btn-success">
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}