{% extends 'home/base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class="card border-light mb-3">
                <div class="card-header bg-dark text-white">
                    Рассылка
                </div>
                <div class="card-body bg-dark text-white">
                    {{ form.non_field_errors }}
                    {% for field in field_order %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer bg-dark text-white text-center">
                    <button type="submit" class="btn btn-success">
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}