{% extends 'home/base.html' %}


{% block content %}
    <div class="container mt-3">
        {% if request.user.is_authenticated  and show_detail_button %}
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="{% url 'distribution:mailing_event_create' %}">
                    Добавить рассылку</a>
            </nav>
        {% endif %}
        {% if user_type == 'admin_manager' %}
            {% for owner, mailing_events in mailing_events_by_owner.items %}
                <h3>{{ owner.email }} - {{ owner.username }}</h3>
                <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                    {% for mailing_event in mailing_events %}
                        <div class="col-md-3">
                            <div class="card border-light mb-3">
                                <div class="card-header bg-dark text-white">
                                    {{ mailing_event.message.subject }}
                                </div>
                                <div class="card-body bg-dark text-white">
                                    <p class="card-text bg-dark text-white">{{ mailing_event.message.body | truncatechars:10 }}</p>
                                    <a href="{% url 'distribution:mailing_event_detail' mailing_event.pk %}"
                                       class="card-link">Детали</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
                {% for object in object_list %}
                    <div class="col-md-3">
                        <div class="card border-light mb-3">
                            <div class="card-header bg-dark text-white">{{ object.message.subject }}</div>
                            <div class="card-body bg-dark text-white">
                                <p class="card-text bg-dark text-white">{{ object.message.body | truncatechars:10 }}</p>
                                <a href="{% url 'distribution:mailing_event_detail' object.pk %}" class="card-link">Детали</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
